.operations {
    position: sticky;
    top: 0px;
    /* background:white; */
    margin: 0 10px 0 10px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

#searchForm {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 50px 50px;
    box-shadow: 0px 0px 5px 2px rgb(171, 171, 174);
    text-align: center;
}


.searchinput {
    height: 50px;
    border: none;
    text-align: center;
    border-radius: 50px 0 0 50px;
    border-right: 2px solid rgb(167, 162, 162);
}

.searchbtn {
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    font-size: small;
    border-radius: 0 50px 50px 0;
}

.searchinput:focus {
    outline: none;
    box-shadow: none;
    text-align: center;
}

.addPropertybtn {
    width: 250px;
    height: 50px;
    font-size: x-large;
    text-decoration: none;
    border: none;
    border-radius: 50px 50px;
    box-shadow: 0px 0px 5px 2px rgb(157, 157, 163);
    text-align: center;
    background-color: rgb(0, 255, 242);
}

#property-table {
    margin-top: 20px;
    overflow-x: auto;
    margin-left: 10px;
    width: 100%;
    overflow-y: scroll;
    box-shadow: 0px 0px 5px 5px rgb(195, 195, 199);
}

#property-table table {
    width: 100%;
    overflow-y: scroll;
}

.tableHeader {
    position: sticky;
    top: 0px;
    height: 50px;
    color: rgb(0, 98, 255);
    box-shadow: 5px 0px 0px 5px ghostwhite;
}

.tableData {
    height: 50px;
    box-shadow: 5px 0px 0px 5px ghostwhite;
}

.noList {
    padding-top: 100px;
}

.imagetag {
    width: 50px;
}

.edit {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: center;
}

.iconsEdit {
    margin-right: 10px;
    /* width: 20px; */
}

.unSoldbtn {
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    background-color: aquamarine;
    font-weight: bold;
    cursor: pointer;
}

.unSoldbtn:hover {
    background-color: aqua;
    color: black;
}

/* Property Data CSS */
#data {
    width: 80%;
    height: 750px;
    box-shadow: 0px 0px 10px 10px gray;
    position: absolute;
    top: 10%;
    left: 16%;
    /* background-color: aliceblue; */
    border-radius: 40px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsw6w83nC0YKk-vJozVpVW4PzKA2YU8QXfEg&usqp=CAU");
    background-size: cover;
    overflow-y: scroll;
}

#heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#stickyHead {
    position: sticky;
    top: 0px;
    background-color: aqua;
}

hr {
    margin-top: 0px;
}

h2 {
    margin-left: 20px;
    align-self: center;
}

#dataCancle {
    padding-top: 30px;
    /* padding-bottom: ; */
    margin-bottom: 0;
    width: 50px;
    height: 55px;
    font-size: xx-large;
    background-color: red;
    cursor: pointer;
    font-size: xx-large;
    /* border-radius: 0px 40px 0px 0px; */
}

.dataContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    padding: 20px 40px;
    background-color: aqua;
    border: 3px solid rgb(0, 255, 162);
    border-radius: 50px;
}

.infoPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoContainer {
    margin-left: 100px;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    /* list-style: disc; */
}

.data {
    margin-left: 100px;
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style: disc;
}

label {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.data span {
    font-size: larger;
    font-weight: 500;
}

#address,
#landmark,
#description {
    height: 120px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.fetchedimg {
    width: 300px;
    height: 300px;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}


/* Pagination */

#page {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    position: absolute;
    top: 90%;
    left: 50%;
}

.pageNum {
    padding: 5px 10px 5px 10px;
    border: 3px solid rgb(10, 240, 240);
    font-size: larger;
}

#prev,
#next {
    border: 2px solid black;
    padding: 0.5rem 0.7rem;
    border-radius: 0.4rem;
    background-color: aquamarine;
    font-weight: bold;
    cursor: pointer;
}

#prev:hover {
    background-color: aqua;
    color: black;
}

#next:hover {
    background-color: aqua;
    color: black;
}

@media screen and (min-width:200px) and (max-width:800px) {

    .addPropertybtn {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #searchForm {
        margin-top: 10px;
    }

    #property-table {
        margin-top: 50px;
    }

    .infoPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    .infoContainer {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}