.App {
    margin-top: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #61dafb;
  }
.container{
    width: 467px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login{
    box-sizing: border-box;
    margin: auto auto;
    margin-top: 10%;
    height: 20%;
    width: 90%;
    background-color:#FFFFFF;;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    border-radius: 10px;
}
 .extra-info {
     text-align: center;
 }
 #link{
    margin-left: 10px;
    margin-top: 20px;
    text-decoration: none;
}
#logo-signup{
    margin-top: 0px;
    width: 35%;
    height: 35%;
        border-radius: 58%;
}
#logo{
    width: 35%;
    height: 35%;
    border-radius: 58%;
}
.login-items{
    padding-left: 20px;
    margin-top: 30px;
    height: 35px;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 5px;
}

.error{
    margin-top: 3px;
    margin-bottom: 3px;
    color: red;
}
#signup{
    color: #4C57B6;
    text-decoration: none;
    font-weight: bold;
}
#signin,#signup-btn{
    background-color:#4C57B6;
    width: 106%;
    color: white;
}
#credential-signin{
    /* margin-top:0; */
    color: #000000;
    font-size: small;
}
.extra-info,#extra-login{
    margin-top: 30px;
}
.signup-items1{
    padding-left: 20px;

    margin-top: 10px;
        height: 35px;
        background-color: #FFFFFF;
        width: 100%;
        border-radius: 5px;
}
.signup-items{
    padding-left: 20px;
    margin-top: 10px;
        height: 35px;
        background-color: #FFFFFF;
        width: 100%;
        border-radius: 5px;
}
#signup-btn{
    width: 106%;
}
.confirmSignin{
    padding: 10px;
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 10px;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 465px) {
    .container {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
